*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #222;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover {
    color: #222;
    background-color: #fff;
}

.dropdown-menu {
    position: absolute;
    border: 2px solid black;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: #fff;
    background-color: #222;
}

.dropdown:hover .dropdown-menu {
    display: block;
}